# This file defines which files end up in the compiled .vsix file.
# Test this configuration by running "make list-shipped-files.

*
.*/
documentation/
examples/
!LICENSE.txt
out/**/*.test.js
out/test/*
src/
text-run/
